body {
  background-color: red;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  gap: 5px;
}
.pagination .pag-num {
  text-decoration: none;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
}
.pagination .pag-num:hover {
  background-color: rgb(12, 107, 248);
  color: #fff;
}
